$gray: rgb(218, 218, 218);
$light-gray: rgb(232, 232, 232);
$very-light-gray: #ecf0f1;
$gray-middle-dark: rgb(166, 166, 166);
$dark-gray: rgb(101, 101, 101);

$yellow: rgb(248, 172, 89);
$light-blue: #3498db;
$blue: rgb(28, 132, 198);
$green: rgb(25, 179, 148);
$red: rgb(237, 85, 101);